<template>
  <div>
    <v-row>
      <v-col cols="12" class="mt-6 pl-5">
        <h2>Añadir un comentario</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-form ref="form" lazy-validation>
          <v-row>
            <v-col cols="12" sm="8" md="12">
              <v-textarea
                outlined
                name="input-7-1"
                label="Comentario"
                rows="2"
                v-model="newComentario"
                hide-details
                outlined
                dense
              ></v-textarea>
            </v-col>
            <v-col>
              <v-card-actions>
                <v-spacer />
                <v-btn
                  href="#"
                  id="addacomment"
                  @click="addComentario()"
                  color="primary"
                >
                  Agregar comentario
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>

    <v-row class="comment">
      <v-col cols="12" class="mt-6 pl-5">
        <h2>Comentarios | {{ comentarios.length }} |</h2>
      </v-col>

      <v-col>
        <Comentario
          v-for="(comentario, index) in comentarios"
          :key="comentario.idComentario"
          :comentario="comentario"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
  var moment = require("moment");
  moment.locale();
  import Comentario from "./Comentario.vue";
  import { mapGetters, mapActions } from "vuex";
  export default {
    props: ["prospectoId"],
    components: { Comentario },
    data: () => ({
      comentarios: [],
      newComentario: '',
    }),
    created() {
      this.initialize();
    },
    watch: {
      prospectoId: function() {
        this.initialize();
      },
    },
    methods: {
      initialize() {
        if (this.prospectoId > 0) {
          this.$http
            .get("comentarios.id/" + this.prospectoId)
            .then((response) => {
              // al arreglo que declare previamente le asigno response.body que son todos los registros
              this.comentarios = response.body;
            })
            .catch((error) => console.log(error));
        }
      },
      addComentario() {
        if(this.newComentario != ''){
          let datos = {
            id_empleado: this.getdatosUsuario.idusuario,
            comentario: this.newComentario,
            id_prospecto: this.prospectoId,
            nombreEmpleado: this.getdatosUsuario.nombre_completo,
            fecha_creacion: moment(new Date()).format("YYYY-MM-DD HH:mm:ss"),
            fecha_actualizo: moment(new Date()).format("YYYY-MM-DD HH:mm:ss"),
            pinned: 0,
          };
          this.$http
            .post("comentarios.add/", datos)
            .then((response) => {
              this.comentarios.unshift(datos);
              this.newComentario = "";
            })
            .catch((error) => console.log(error));
        }
      },
    },
    computed: {
      ...mapGetters("login", ["getdatosUsuario", "getLogeado"]),
    },
  };
</script>
