<template>
  <v-col>
    <div class="head">
      <small
        ><strong class="user">{{ comentario.nombreEmpleado }}</strong>
        {{ comentario.fecha_actualizo }}</small
      >
    </div>
    <p>
      {{ comentario.comentario }}
    </p>
    <hr />
  </v-col>
</template>

<script>
  export default {
    props: ["comentario"],
    data: () => ({}),
  };
</script>
