<template>
  <v-container class="mt-4 ml-2" fluid>
	  <!-- Dialogo de Agregar prospecto -->
    <v-card class="elevation-0">
      <v-card-text>
        <v-container>
          <v-form ref="form" lazy-validation>
            <v-row>
              <v-col cols="12" md="8">
                <v-text-field
                  v-model="editedItem.nombre_completo"
                  label="Nombre completo"
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.telefono"
                  label="Telefono"
                  hide-details
                  outlined
                  dense
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="8" md="6" lg="4">
                <v-text-field
                  v-model="editedItem.email"
                  label="Email"
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="8" md="6" lg="4" v-if="getdatosUsuario.idpuesto == 25">
                <v-select
                  :items="campanias"
                  v-model="campania"
                  return-object
                  item-text="campania"
                  item-value="idcampania"
                  label="¿Cómo llego?"
                  hide-details
                  outlined
                  dense
                ></v-select>
              </v-col>

              <v-col cols="12" sm="8" md="6" lg="4">
                <v-select
                  :items="sucursales"
                  v-model="sucursal"
                  return-object
                  item-text="plantel"
                  item-value="idplantel"
                  label="Sucursal"
                  hide-details
                  outlined
                  dense
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
             
              <v-col cols="12">
              	<v-textarea
              		v-model="editedItem.nota_inicial"
              		outlined
              		dense
              		rows="3"
              		hide-details
              		label="Nota inicial"
              	>	
              	</v-textarea>
              </v-col>

            </v-row>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark @click="grabarProspecto()" v-if="!overlay">
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- Dialogo para indicar errores -->
    <v-dialog
      v-model="dialogError"
      persistent
      max-width="400"
    >
      <v-card>
      	<v-card-text>
	      	<v-row>
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="" style="display: table-cell; vertical-align: middle;">
		      				<span v-if="errorBack">
		      					<strong>ERROR</strong> Da clic en "COPIAR" para guardar el error y enviarlo a sistemas
		      				</span>
		      				<span v-else>
		      					<strong>ERROR</strong> {{error}}
		      				</span>
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text large class="mr-2" @click="dialogError = false">Cerrar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#D60F24" dark class="elevation-6" large @click="copiarPortapapeles()" v-if="errorBack">{{textoCopiado}}</v-btn>
			      			  <v-btn color="#D60F24" dark class="elevation-6" large @click="dialogError = false" v-else>Ok</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="6">
	      			<v-img src="@/assets/eliminar.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialogo para indicar que todo esta correcto -->
    <v-dialog
      v-model="dialogSuccess"
      hide-overlay
      max-width="400"
    >
      <v-card>
      	<v-card-text>
	      	<v-row>
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="" style="display: table-cell; vertical-align: middle;">
		      				<strong>¡Bien!</strong> Datos grabados correctamente
			      			<v-card-actions class="pt-6">
			      				<v-spacer></v-spacer>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="green" dark class="elevation-6" large @click="dialogSuccess = false">Ok</v-btn>
			      				<v-spacer></v-spacer>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="6">
	      			<v-img src="@/assets/correcto.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  export default {
    data: () => ({
    	pendientes: true,
    	avatar:'',
      ///usuarios
      usuario: null,
      usuarios: [],
      dialog: false,
      dialogDelete: false,
      dialogPreview: false,
      headers: [
        { text: 'Folio',           value: 'folio' },
        { text: 'Nombre',          value: 'nombre_completo', },
        // { text: 'Teléfono',        value: 'telefono' },
        // { text: 'Email',           value: 'correo' },
        { text: 'Etapa',           value: 'etapa' },
        { text: 'Fecha',           value: 'fecha_creacion' },
        { text: 'Espera',          value: 'espera' },
        { text: 'Tiempo',          value: 'tiempo_transcurrido' },
        { text: 'Inactividad',     value: 'ultimo_movimiento' },
        { text: 'Actions',         value: 'actions', sortable: false },
      ],
      empleados: [],
      prospectos: [], //arreglo
      editedIndex: -1,
      editedItem: {
        //agrego cada campo a utlizar
        idprospectos: 0,
        nombre_completo: '',
        telefono: 81,
        correo: '',
        idetapa:0,
        sucursal_interes:0,
        como_nos_conocio:0,
        ciclo_interes: 0,
        curso_interes:0,
        usuario_asignado:0,
        usuario_creo:0,
        nota_inicial:'',
        folio:''
      },
      fab: false,
      opcionAddTarea: false,

      estatusFiltro:null,

      etapas:[],
      etapa:null,
      sucursales:[],
      sucursal:null,
      anuncios:[],
      anuncio:null,
      cursos:[],
      curso:null,
      ciclos:[],
      ciclos_plantel:[],
      ciclo:null,
      vendedoras:[],
      vendedoras_plantel:[],
      vendedora:null,
      tareas:[],
      tarea:null,
      campanias:[],
      campania:null,

      dialogSuccess:false,
      overlay: false,
      dialogError: 	false,
			error: 				'',
			successMensaje:'',
			errorBack:false,
      textoCopiado:'COPIAR',
      dialogDelete: false,
      search:'',
      dialogProspecto:false,
      prospecto:null,

      events: [],
      input: null,
      nonce: 0,
      comentarios: [],
      newComentario: '',
      estatusLlamada: false,

      dia:null,
			hora:null,
			nota:null,
			tareas_programadas:[],

			tipoDelete: null,
			notaAnterior:'',
			idtareas_prospectos: null,
			eventos:[],
      fechaini:null,
      fechafin:null,
			banderaTarea: 0, // sirve para saber si se esta actualizando la tarea, o agregando una nueva

			// Preguntas
			paraquien_el_curso:null, // Para quien es el curso
			estudioIngles:null, // Estudió inglés
			porqueEstudiarIngles:'Trabajo', // Para que quieres estudiar inglés
			dispoHorario:null, // disponibilidad de horario
			edad:null, //  edad

      dialogNotaLlamada: false,
      notaLlamada:'',
      notasLlamada:[],
      llamadasList:[],
      idestatus_llamada: null,

      dialogPrimerLlamada:false,
      abrirInfoUsuario:true,
      nuevaSucursal: null, 

      dialogReasignar:false,
      nombreVendedora:'',
      dialogFinalizacion:false,

      banderaFinalizo:false,
      matricula:'',
      grupo:null,
      grupos:[],

      banderaRechazo: false,
      notaRechazo:'',
      dialogWhatsapp:false,
      mensajeWhatsapp:'',
    }),

    watch:{
    	nuevaSucursal(){
    		this.nombreVendedora = this.nuevaSucursal.nombre
    	}
    },

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeado', 'getEscuela','drawer2','getEstatusLlamada']),

      formTitle() { 
      	return this.editedIndex === -1 ? 'Agregar un prospecto' : 'Editar prospecto'
      },

      titulo (){
      	return this.getEscuela == 1 ? 'Prospectos INBI' : 'Prospectos FAST'
      },

      filterProspectos(){
      	if(this.prospectos){
          return this.prospectos.filter((prospecto)=>{
            var est = prospecto.idetapa;

            // Sin fecha seleccionada
            if(!this.fechaini && !this.fechafin){
              if(this.getEscuela == prospecto.escuela){
  	            if(this.estatusFiltro == this.etapas[this.etapas.length - 1].idetapas){
  	              return true
  	            }else{
  	              if(est == this.estatusFiltro){return true}
  	            }
              }
            }

            // Solo fecha de inicio seleccionada
            if(this.fechaini && !this.fechafin){
              if(this.getEscuela == prospecto.escuela && prospecto.fecha == this.fechaini){
                if(this.estatusFiltro == this.etapas[this.etapas.length - 1].idetapas){
                  return true
                }else{
                  if(est == this.estatusFiltro){return true}
                }
              }
            }


            // Solo fecha de inicio seleccionada
            if(this.fechaini && this.fechafin){
              if(this.getEscuela == prospecto.escuela && prospecto.fecha >= this.fechaini && prospecto.fecha <= this.fechafin ){
                if(this.estatusFiltro == this.etapas[this.etapas.length - 1].idetapas){
                  return true
                }else{
                  if(est == this.estatusFiltro){return true}
                }
              }
            }
          })
        }
      },

      filterSucursales(){
      	if(this.sucursales){
          return this.sucursales.filter( el=> { return el.escuela == this.getEscuela})
        }
      },

      filterVendedoras(){
        return this.vendedoras.filter( el=> { return el.escuela == this.getEscuela})
      }
    },

    async created() {
    	await this.getEtapas();
      await this.getCampanias()
      await this.getSucursales()
      await this.initialize();
      await this.getVendedoras()
    },

    methods: {
      ...mapActions('login', ['cambiarDrawer','cambiarEstatusLlamada']),
    	// Funcion para cargar las etapas
    	getEtapas() {
    		this.overlay = true
    		this.etapas  = []
        return this.$http.get('etapas.activas').then((response) => {
        	// Llenamos la etapa incial
         	this.etapas = response.body
         	this.etapa  = this.etapas[0]
         	this.estatusFiltro = this.etapas[this.etapas.length - 1].idetapas
         	this.overlay = false
        }).catch(error=>{
        	// Indicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Obtener las campañas
      getCampanias(){
        this.overlay = true
        this.campanias  = []
        return this.$http.get('campanias.activos').then((response) => {
          // Llenamos la etapa incial
          this.campanias = response.body
          this.campania  = this.campanias[0]
          this.overlay = false
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
      },

      // Obtener todas las sucursales
      getSucursales() {
    		this.overlay = true
    		this.sucursales  = []
        return this.$http.get('planteles.all').then((response) => {
        	// Llenamos la etapa incial
         	this.sucursales = response.body
         	this.sucursal   = response.body[0]
         	this.overlay = false
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Inicio de todo
      initialize() {
        this.overlay = true
        this.prospectos  = []
        return this.$http.get('prospectos.list').then((response) => {
          this.prospectos = response.body
          this.overlay = false
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
      },

      /*
        **************** FUNCIONES PARA LOS PROSPECTOS ********************
      */
      // Datos para grabar el prospecto
      grabarProspecto() {
        this.overlay = true 
        if(this.editedItem.nombre_completo != '' && this.editedItem.telefono != '' && this.editedItem.nota_inicial != '' ){
        	// Sacamos ala vendedora
        	let vendedora = 0
        	if(this.sucursal.idplantel != 0){
        		vendedora = this.vendedoras_plantel.find(el=> el.idplantel == this.sucursal.idplantel)
        	}
          //recibe los campos del form
          //guardo en una variable los datos a guardar id = this.editedItem.idcurso;
          var payload = {
            nombre_completo:  this.editedItem.nombre_completo,
            telefono:         this.editedItem.telefono,
            correo:           this.editedItem.email,
            idetapa:          this.etapa.idetapas,
            sucursal_interes: this.sucursal.idplantel,
            usuario_creo:     this.getdatosUsuario.iderp,
            usuario_asignado: vendedora == 0 ? vendedora : vendedora.iderp,
            nota_inicial:     this.editedItem.nota_inicial,
            folio:            '',
            acronimo:         this.sucursal.idplantel == 0 ? '' : this.sucursal.acronimo,
            escuela:          this.getEscuela,
            idpuesto:         this.getdatosUsuario.idpuesto,
            como_llego:       this.getdatosUsuario.idpuesto == 25 ? this.campania.idcampanias : 0
          }

          this.$http.post('prospectos.add', payload).then((response) => {
            this.overlay = false
            this.close()
            this.dialogSuccess = true
            this.initialize();
          }).catch(error=>{
            this.overlay = false
            // INdicamos que hay un error en el back
            if(error.body.message){
              this.error = error.body.message
            }else{
              this.error = error.body
            }
            this.errorBack = true
            this.overlay = false
            this.dialogError = true
          })

        }else{
          // INdicamos que hay un error en el back
          this.error = 'Por favor llena todos los datos'
          this.errorBack = false
          this.overlay = false
          this.dialogError = true
        }
      },

      // Actualizar los datos del prospecto, datos generales
      actualizarProspecto (){
        if(this.prospecto.nombre_completo != '' && this.prospecto.telefono != '' && this.prospecto.nota_inicial != '' ){
          //recibe los campos del form
          //guardo en una variable los datos a guardar id = this.editedItem.idcurso;
          var datos = {
            idprospecto:      this.prospecto.idprospectos,
            nombre_completo:  this.prospecto.nombre_completo,
            telefono:         this.prospecto.telefono,
            correo:           this.prospecto.email,
            usuario_creo:     this.getdatosUsuario.iderp,
            // De aquí para abajo son datos para actualizar
            idetapa:          this.etapa.idetapas,
            etapa:            this.etapa.etapa,
            etapaAnterior:    this.prospecto.idetapa,
            sucursal_interes: this.sucursal.idplantel,
            usuario_asignado: this.vendedora.iderp,
            escuela:          this.getEscuela
          }

          this.$http.put('prospectos.update/' + this.prospecto.idprospectos, datos).then((response) => {
            this.close()
            this.dialogSuccess = true
            this.getDatosProspecto(this.prospecto.idprospectos);
          }).catch(error=>{
            // INdicamos que hay un error en el back
            if(error.body.message){
              this.error = error.body.message
            }else{
              this.error = error.body
            }
            this.errorBack = true
            this.overlay = false
            this.dialogError = true
          })
          
        }else{
          // INdicamos que hay un error en el back
          this.error = 'Por favor llena todos los datos'
          this.errorBack = false
          this.overlay = false
          this.dialogError = true
        }
      },

      // Actualizar el estatus del prospecto
      updateEstatus (idprospectos, idetapa, etapa) {
        let payload = {
          idprospectos,
          idetapa,
          etapa,
          usuario_creo: this.getdatosUsuario.iderp
        }

        this.$http.put('prospectos.etapa/' + idprospectos, payload).then((response) => {
          this.dialogSuccess = true
          this.initialize()
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
        this.newComentario = ''
      },

      // Abrir modal que ayuda a visualizar al prospecto
      async verProspecto(item) {
        // Primero se debe poner la sucursal, ya que nos ayuda a elegir el ciclo correspondiente a el usuario
        this.sucursal  = {idplantel:  item.sucursal_interes,           plantel: item.plantel}

        // Catalagos
        await this.getAnuncios()
        await this.getCursos()
        await this.getCiclos()
        await this.getTareas()
        await this.getVendedoras()
        await this.obtenerEstatusLlamada()

        // Datos dinámicos
        await this.getDatosProspecto(item.idprospectos)
        this.prospecto = item
        this.etapa     = {idetapas:   item.idetapa,                    etapa:   item.etapa}
        
        this.curso     = {id_curso:   item.curso_interes,              curso:   item.curso}

        const ciclo2   = this.ciclos.find(el=> el.id_ciclo == item.ciclo_interes)
        if(!ciclo2){
          this.ciclos.push({id_ciclo:   item.ciclo_interes,  ciclo:   item.ciclo})
        }
        this.ciclo     = {id_ciclo:   item.ciclo_interes,    ciclo:   item.ciclo}
        this.vendedora = {iderp:      parseInt(item.usuario_asignado), nombre:  item.vendedora}
        this.anuncio   = {idanuncios: parseInt(item.como_nos_conocio), anuncio: item.anuncio}

        this.dialogProspecto = true
        const etapa = this.etapas.find(el=> el.idetapas == this.prospecto.idetapa )
        if(this.prospecto.reasignado == 0){
	      	if(etapa){
	      		if(etapa.orden == 1 || etapa.orden == 2){
	      			this.abrirInfoUsuario = false
	      		}else{
	      			this.abrirInfoUsuario = true
	      		}
	      	}else{
	      		this.abrirInfoUsuario = true
	      	}      		
        }else{
        	this.abrirInfoUsuario = true
        }
      },

      // Obtener todos los anuncios
      getAnuncios() {
    		this.overlay = true
    		this.anuncios  = []
        return this.$http.get('anuncios.activos').then((response) => {
        	// Llenamos la etapa incial
         	this.anuncios = response.body
         	this.anuncio  = this.anuncios[0]
         	this.overlay = false
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Obtener todos los cursos
      getCursos() {
    		this.overlay = true
    		this.cursos  = []
        return this.$http.get('cursos.activos').then((response) => {
        	// Llenamos la etapa incial
         	this.cursos = response.body
         	this.overlay = false
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Obtener los ciclos más recientes
      getCiclos() {
    		this.overlay = true
    		this.ciclos  = []
         this.$http.get('ciclos.activos').then((response) => {
        	// Llenamos la etapa incial
         	this.ciclos = response.body
         	this.ciclo  = this.ciclos[0]

    			this.ciclos_plantel = this.ciclos.filter(el=> { return el.unidad_negocio == this.getEscuela})

         	this.overlay = false
	      	return
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      getVendedoras() {
    		this.overlay = true
    		this.vendedoras  = []
        return this.$http.get('vendedoras.list').then((response) => {
        	// Llenamos la etapa incial
         	this.vendedoras = response.body
      	  this.vendedoras_plantel = this.vendedoras.filter(el=> { return el.escuela == this.getEscuela})
         	this.overlay = false
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Obtener el listado de actividesdes de la vendedora
      getTareas(){
      	this.overlay = true
    		this.tareas  = []
        return this.$http.get('tareas.activos').then((response) => {
        	// Llenamos la etapa incial
         	this.tareas = response.body
         	this.tarea  = this.tareas[0]
         	this.overlay = false
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      obtenerEstatusLlamada () {
      	this.$http.get('prospectos.llamadas/' + this.getdatosUsuario.iderp).then((response) => {
      		if(!response.body.message){
		        this.estatusLlamada = response.body.estatus
		        this.idestatus_llamada = response.body.idestatus_llamada
		        this.cambiarEstatusLlamada(response.body.estatus)
      		}
	      }).catch(error=>{
	        // INdicamos que hay un error en el back
	        if(error.body.message){
	          this.error = error.body.message
	        }else{
	          this.error = error.body
	        }
	        this.errorBack = true
	        this.overlay = false
	        this.dialogError = true
      	})
      },

      // Obtener los datos del prospecto
      getDatosProspecto (idprospectos) {
      	this.comentarios = []
        this.tareas_programadas = []
        this.eventos  = []
        this.paraquien_el_curso   = ''
        this.estudioIngles        = ''
        this.porqueEstudiarIngles = ''
        this.dispoHorario         = ''
        this.edad                 = ''
      	this.$http.get('prospectos.datos/' + idprospectos).then((response) => {
      		this.comentarios        = response.body.comentarios
          this.tareas_programadas = response.body.tareas
          this.eventos            = response.body.eventos
          // Agregamos la bandera para los mensajes de whatsApp
          for(const i in this.eventos){
            this.eventos[i] = {
              ...this.eventos[i],
              abrirMensaje: false
            }
          }
          this.llamadasList       = response.body.llamadas
          if(response.body.datosLlamada){
            let llamada = response.body.datosLlamada
            this.paraquien_el_curso   = llamada.pregunta1
            this.estudioIngles        = llamada.pregunta2
            this.porqueEstudiarIngles = llamada.pregunta3
            this.dispoHorario         = llamada.pregunta4
            this.edad                 = llamada.edad

            this.anuncio              = {idanuncios: llamada.idanuncios, anuncio: llamada.anuncio }
            // Primero validamos si existe un ciclo encontrado
            if(llamada.ciclo != ''){
              // Validamos si el ciclo esta en la lista de los ciclos activos
              const existeCiclo = this.ciclos_plantel.find(el=> el.id_ciclo == llamada.ciclo.id_ciclo)
              // Si no existe, lo agregamos
              if(!existeCiclo){
                // Se lleno el ciclo
                this.ciclos_plantel.push(llamada.ciclo)
              }
              // Y ahora si ponemos el ciclo
              this.ciclo = llamada.ciclo 
            }

            // Ahora validaremos el curso
            if(llamada.curso != ''){
              // Validamos si el curso esta en la lista de los cursos activos
              const existecurso = this.cursos.find(el=> el.id_curso == llamada.curso.id_curso)
              // Si no existe, lo agregamos
              if(!existecurso){
                // Se lleno el curso
                this.cursos.push(llamada.curso)
              }
              // Y ahora si ponemos el curso
              this.curso = llamada.curso 
            }
          }
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Actualizar el perfil del prospecto
      updatePerfil () {
        let payload = {
          idprospectos: this.prospecto.idprospectos,
          pregunta1:    this.paraquien_el_curso,
          pregunta2:    this.estudioIngles,
          pregunta3:    this.porqueEstudiarIngles,
          pregunta4:    this.dispoHorario,
          idplantel:    this.sucursal.idplantel,
          edad:         this.edad,
          idanuncios:   this.anuncio.idanuncios,
          idcurso:      this.curso.id_curso,
          idciclo:      this.ciclo.id_ciclo,
          idusuarioerp: this.getdatosUsuario.iderp
        }

        this.$http.post('prospectos.puntos_llamada',payload).then((response) => {
          this.dialogSuccess = true
          this.getDatosProspecto(this.prospecto.idprospectos)
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
      },

      /*
        *********************************************
      */
     
      close() {
        this.dialog = false;
        this.editedItem = {
	        //agrego cada campo a utlizar
	        idprospectos: 0,
	        nombre_completo: '',
	        telefono: 81,
	        correo: '',
	        idetapa:0,
	        sucursal_interes:0,
	        como_nos_conocio:0,
	        ciclo_interes: 0,
	        curso_interes:0,
	        usuario_asignado:0,
	        usuario_creo:0,
	        nota_inicial:'',
	        folio:''
      	}
      },

      /*
        **************** FUNCIONES PARA LAS TAREAS ********************
      */

      // Programar una nueva tarea
      programarTarea () {
      	let payload = {
      		idtareas:     this.tarea.idtareas,
      		tarea:        this.tarea.tarea,
      		nota:         this.nota,
      		dia:          this.dia,
      		hora:         this.hora,
      		idprospectos: this.prospecto.idprospectos,
      		idusuarioerp: this.getdatosUsuario.iderp,
      		estatus:      0,
      		medio:        this.tarea.tipo_tarea == 1 ? this.prospecto.telefono : this.tarea.tipo_tarea == 2 ? this.prospecto.email : ''
      	}

      	this.$http.post('prospectos.tarea.add', payload).then((response) => {
      		this.opcionAddTarea = !this.opcionAddTarea
      		this.nota = ''
      		this.dia  = null
      		this.hora = null
        	this.getDatosProspecto(this.prospecto.idprospectos)
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        		this.errorBack = false
        	}else{
        		this.error = error.body
        		this.errorBack = true
        	}
        	
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // actualizar una tarea
      actualizarTarea ( tarea ){
      	this.banderaTarea        = 1
      	this.idtareas_prospectos = tarea.idtareas_prospectos 
      	this.nota                = tarea.nota
      	this.notaAnterior        = tarea.nota
      	this.dia                 = tarea.dia
      	this.hora                = tarea.hora
      	this.tarea               = this.tareas.find(el => el.idtareas == tarea.idtareas)
      	this.opcionAddTarea = true
      },

      // Reprogramar la tarea
      reprogramarTarea () {
      	let payload = {
      		idtareas_prospectos: this.idtareas_prospectos,
      		idtareas:     this.tarea.idtareas,
      		tarea:        this.tarea.tarea,
      		nota:         this.nota,
      		dia:          this.dia,
      		hora:         this.hora,
      		idprospectos: this.prospecto.idprospectos,
      		idusuarioerp: this.getdatosUsuario.iderp,
      		notaAnterior: this.notaAnterior,
      		estatus:      0,
      		medio:        this.tarea.tipo_tarea == 1 ? this.prospecto.telefono : this.tarea.tipo_tarea == 2 ? this.prospecto.email : ''
      	}

      	this.$http.put('prospectos.tarea.update', payload).then((response) => {
      		this.opcionAddTarea = !this.opcionAddTarea
      		this.nota = ''
      		this.dia  = null
      		this.hora = null
        	this.getDatosProspecto(this.prospecto.idprospectos)
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      // Eliminar la tarea
      eliminarTarea(id){
      	this.tipoDelete          = 1 //  Tarea
      	this.idtareas_prospectos = id
      	this.dialogDelete        = true
      },

      // confirmación de que se eliminiará la tarea
      deleteItemConfirm() {
      	switch(this.tipoDelete){
      		case 1:
      			this.$http.delete(`prospectos.tarea/${this.idtareas_prospectos}`).then((response) => {
		      		this.dialogDelete = false
		      		this.dialogSuccess = true
		        	this.getDatosProspecto(this.prospecto.idprospectos)
		        }).catch(error=>{
		        	// INdicamos que hay un error en el back
		        	if(error.body.message){
		        		this.error = error.body.message
		        	}else{
		        		this.error = error.body
		        	}
		        	this.errorBack = true
		        	this.overlay = false
		        	this.dialogError = true
		        })
      		break;
      	}
      },

      // Verificar que la tarea se realizo
      tareaRealizada( id ) {
      	switch(this.tipoDelete){
      		case 1:
      			this.$http.put(`prospectos.tarea.check/${id}`).then((response) => {
		      		this.dialogDelete = false
		      		this.dialogSuccess = true
		        	this.getDatosProspecto(this.prospecto.idprospectos)
		        }).catch(error=>{
		        	// INdicamos que hay un error en el back
		        	if(error.body.message){
		        		this.error = error.body.message
		        	}else{
		        		this.error = error.body
		        	}
		        	this.errorBack = true
		        	this.overlay = false
		        	this.dialogError = true
		        })
      		break;
      	}
      },

      /*
        *********************************************
      */

      abrirDialogNotaLlamada(){
        this.notasLlamada = []
        this.$http.get(`prospectos.notallamada/${this.prospecto.idprospectos}`).then((response) => {
          this.notasLlamada = response.body
          this.dialogNotaLlamada = true
          // INdicamos que hay un error en el back
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
      },

      grabarNotaLlamada(){
        let payload = {
          idprospectos: this.prospecto.idprospectos,
          idusuarioerp: this.getdatosUsuario.iderp,
          nota:         this.notaLlamada,
          idestatus_llamada: this.idestatus_llamada
        }
        this.$http.post(`prospectos.notallamada.add`,payload).then((response) => {
          this.notaLlamada = ''
          this.abrirDialogNotaLlamada()
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
      },

      // Agregar un comentario
      addComentario () {
        let payload = {
          idprospectos: this.prospecto.idprospectos,
          idusuarioerp: this.getdatosUsuario.iderp,
          comentario:   this.newComentario,
          
        }

        this.$http.post('prospectos.comentarios', payload).then((response) => {
          this.newComentario = ''
          this.getDatosProspecto( this.prospecto.idprospectos );
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
        this.newComentario = ''
      },

      limpiar ( ) {
	      this.etapa     = this.etapas[0]
	      this.sucursal  = null
	      this.anuncio   = null
	      this.curso     = null
	      this.ciclo     = null
	      this.vendedora = null
      },

      getColorEvento (tipo) {
      	switch(tipo){
      		// Nota
      		case 1: 
      			return 'green'
      		break;

      		// Actualización
      		case 2: 
      			return 'primary'
      		break;

      		// Tarea
      		case 3: 
      			return 'warning'
      		break;

      		// Tarea
      		case 4: 
      			return 'purple darken-4'
      		break;

          // Mensaje de WhatsApp
          case 5: 
            return 'blue-grey darken-4'
          break;

      	}
      },

      cambiarEstatusLlamadalocal () {
        // Buscamos la etapa
        const etapa = this.etapas.find(el=> el.idetapas == this.prospecto.idetapa )

        if(this.estatusLlamada){
          this.iniciarllamada()
        }else{
          // Validamos si la información del usuario inicial exsite
          if(!this.abrirInfoUsuario){
            // Validamos que la etapa exista
            if(etapa){
              // Validamos el orden de la etapa
              // Si es primera o segunda, la información del usuario no puede ser abierta, ya que primero se tiene que realizar la llamada
              if(etapa.orden == 1 || etapa.orden == 2){
                this.dialogPrimerLlamada = true
                this.abrirInfoUsuario = false
              }else{
                // En caso de que no sea esas las etapas, podemos abrir la información, ya que significa que ya tiene al menos una llamada con respuesta
                this.abrirInfoUsuario = true
              }
            }else{
              // Si no existe la etapa por x o y razón ,solo abrimos la información
              this.abrirInfoUsuario = true
            }         
          }else{
            if(!this.estatusLlamada){
              // El estatus de la llamda es FALSE, entonces abrimos el modal de la primera llamada para poder mandar el whatasApp
              this.dialogPrimerLlamada = true
            }
          }
        }
      },

      iniciarllamada(){
    		this.abrirInfoUsuario = true
      	let payload = {
      		idusuarioerp: this.getdatosUsuario.iderp,
      		estatus:      this.estatusLlamada ? 0 : 1,
      		idprospectos: this.prospecto.idprospectos
      	}
      	this.$http.post('prospectos.llamadas.add', payload).then((response) => {
      		this.estatusLlamada = !this.estatusLlamada
      		this.idestatus_llamada = response.body.id
      		this.cambiarEstatusLlamada(this.estatusLlamada)
      		this.getDatosProspecto(this.prospecto.idprospectos)
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      copiarPortapapeles () {
        navigator.clipboard.writeText(this.error).then(() => {
          this.textoCopiado = 'COPIADO'
        }).catch(err => {
          console.log('Something went wrong', err);
        })
      },

      copiarTelefono ( item ) {
        navigator.clipboard.writeText(item).then(() => {
          this.textoCopiado = 'COPIADO'
        }).catch(err => {
          console.log('Something went wrong', err);
        })
      },

      /*
			  *************************************
      */

      abrirDialogReasignacion(){
      	this.nuevaSucursal = this.sucursales[0]
      	this.vendedora = null
      	this.vendedoras_plantel = []
      	this.dialogReasignar = true
      },

      cancelarReasignacion(){
      	this.nuevaSucursal = this.sucursales[0]
      	this.vendedora = null
      	this.vendedoras_plantel = []
      	this.dialogReasignar = false
      },

			reasignar(){
				// Reasignación del prospecto
				// Se debe actualizar: usuario_asignado, reasignado, idetapa = this.etapas[0].idetapas
				if(this.nuevaSucursal){
					this.overlay = true
					const payload = {
						idprospectos:     this.prospecto.idprospectos,
						reasignado:       1,
						idetapa:          this.etapas[0].idetapas,
						usuario_asignado: this.nuevaSucursal.iderp,
						idusuarioerp:     this.getdatosUsuario.iderp
					}

					this.$http.post('prospectos.reasignar', payload).then((response) => {
	      		this.dialogSuccess = true
	      		this.vendedora = {iderp:      parseInt(this.nuevaSucursal.iderp), nombre:  this.nuevaSucursal.nombre}
	      		this.cancelarReasignacion()
	        }).catch(error=>{
	        	// INdicamos que hay un error en el back
	        	if(error.body.message){
	        		this.error = error.body.message
	        	}else{
	        		this.error = error.body
	        	}
	        	this.errorBack = true
	        	this.overlay = false
	        	this.dialogError = true
	        })

				}else{
					// Error
					this.errorBack = false
					this.error = 'Necesitas asignar una sucursal'
	        this.overlay = false
	        this.dialogError = true
				}
			},

			/*
			  *************************************
      */

			finalizarProspecto(){
				if(this.matricula != '' && this.grupo){
					const payload = {
						idprospectos: this.prospecto.idprospectos,
						matricula:    this.matricula,
						idusuarioerp: this.getdatosUsuario.iderp,
						idgrupo:      this.grupo.id_grupo
					}

					// Hacer la peticion de los datos
					this.$http.post('prospectos.finalizar.ok', payload).then((response) => {
	      		this.dialogSuccess = true
	      		this.dialogProspecto = false
	      		this.dialogFinalizacion = false
	      		this.limpiar()
	      		this.initialize()
	        }).catch(error=>{
	        	// INdicamos que hay un error en el back
	        	if(error.body.message){
	        		this.error = error.body.message
	        	}else{
	        		this.error = error.body
	        	}
	        	this.errorBack = true
	        	this.overlay = false
	        	this.dialogError = true
	        })


				}else{	
					// Error
					this.errorBack = false
					this.error = 'Por favor, ingresa los datos correctamente'
	        this.overlay = false
	        this.dialogError = true
				}
			},

			getGrupos(){
				this.grupos = []
				this.$http.get('prospectos.grupos/' + this.getEscuela).then((response) => {
      		this.grupos = response.body
        }).catch(error=>{
        	// INdicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
			},

			rechazoProspecto(){
				if(this.notaRechazo != ''){
					const payload = {
						idprospectos: this.prospecto.idprospectos,
						idusuarioerp: this.getdatosUsuario.iderp,
						notaRechazo:  this.notaRechazo
					}

					// Hacer la peticion de los datos
					this.$http.post('prospectos.finalizar.nok', payload).then((response) => {
	      		this.dialogSuccess = true
	      		this.dialogProspecto = false
	      		this.dialogFinalizacion = false
	      		this.notaRechazo = ''
	      		this.limpiar()
	      		this.initialize()
	        }).catch(error=>{
	        	// INdicamos que hay un error en el back
	        	if(error.body.message){
	        		this.error = error.body.message
	        	}else{
	        		this.error = error.body
	        	}
	        	this.errorBack = true
	        	this.overlay = false
	        	this.dialogError = true
	        })
				}else{	
					// Error
					this.errorBack = false
					this.error = 'Por favor, ingresa los datos correctamente'
	        this.overlay = false
	        this.dialogError = true
				}
			},

      /*
        *************************************
      */

      enviarWhatsApp () {
        const payload = {
          idusuarioerp: this.getdatosUsuario.iderp,
          idprospectos: this.prospecto.idprospectos,
          nota:         this.mensajeWhatsapp,
        }
        this.$http.post('prospectos.whatsapp.add', payload).then((response) => {
          this.dialogSuccess = true
          this.dialogWhatsapp = false
          this.dialogPrimerLlamada = false
          let url = 'https://api.whatsapp.com/send?phone=+52' + this.prospecto.telefono + '&text=' + this.mensajeWhatsapp
          window.open(url, '_blank');
          this.mensajeWhatsapp = ''
          this.limpiar()
          this.getDatosProspecto( this.prospecto.idprospectos );
          this.initialize()
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })
      },

      abrirNotaMental(position){
        // nota mental
        this.eventos[position].abrirMensaje = true 
        const eventos = this.eventos
        this.eventos = []
        this.eventos = eventos
      },

      cerrarNotaMental(position){
        // nota mental
        this.eventos[position].abrirMensaje = false 
        const eventos = this.eventos
        this.eventos = []
        this.eventos = eventos
      },

    },
  };
</script>
<style scoped>

  #eventos::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  #eventos::-webkit-scrollbar:vertical {
    width: 6px !important;
  }

  #eventos::-webkit-scrollbar:vertical{
    width: 6px !important;
  }

  #eventos::-webkit-scrollbar-button:increment,.v-data-table__wrapper::-webkit-scrollbar-button{
    display: none;
  }

  #eventos::-webkit-scrollbar:horizontal{
    height: 6px !important;
  }

  #eventos::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }

  #notas::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  #notas::-webkit-scrollbar:vertical {
    width: 6px !important;
  }

  #notas::-webkit-scrollbar:vertical{
    width: 6px !important;
  }

  #notas::-webkit-scrollbar-button:increment,.v-data-table__wrapper::-webkit-scrollbar-button{
    display: none;
  }

  #notas::-webkit-scrollbar:horizontal{
    height: 6px !important;
  }

  #notas::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }
</style>
